Source: libxas-collector-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7), perl
Maintainer: Kevin L. Esteb <kevin@kesteb.us>
Standards-Version: 3.9.4
Homepage: http://scm.kesteb.us/trac

Package: libxas-collector-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: Middleware for Datacenter Operations - Data Collector
 .
 XAS is middleware for datacenter operations written in Perl5. This
 package provides the collector function to retrieve messages from
 a message queue server.
